.config/yadm/alt/.aws/* filter=git-crypt diff=git-crypt
.config/yadm/alt/.config/topgrade.d/00-remote_topgrades* filter=git-crypt diff=git-crypt
.config/yadm/alt/.ssh/config-* filter=git-crypt diff=git-crypt
.config/yadm/alt/.ssh/keys/** filter=git-crypt diff=git-crypt
.config/yadm/alt/.vpn_configs/** filter=git-crypt diff=git-crypt
